{% extends "student/st.html.twig" %}

{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-12">
							<h1 class=" m-0 text-center text-uppedrcase">Tableau de board</h1>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="callout callout-success">
								<h5>
									<i class="fas fa-info"></i>
									Bonne nouvelle:</h5>
								<span class="text-uppercase text-bold text-uppercase">
									afaka manaraka cour amin'izay
								
								</span>
							</div>

						</div>
						<div class="col-12"><img src="{{ asset('assets/images/logo.png') }}" alt="Logo iiap éducation" class="img-fluid"/></div>
					</div>
				</div>
			</section>
		</div>
	</div>
	
{% endblock %}
