{% extends "student/st.html.twig" %}

{% block body %}
	<div class="wrapper">
		{{ include('student/layouts/nav-bar.html.twig') }}
		{{ include('student/layouts/aside-bar.html.twig') }}
		<div class="content-wrapper">
			<section class="content mt-2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 mb-2">
							<div class="alert alert-warning alert-dismissible">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<h5>
									<i class="icon fas fa-ban"></i>
									Info!</h5>
								<span class="text-uppercase">
									Les cours ne seront pas disponibles tant que vous ne payez pas votre frais d'inscription et votre première mensualité
								</span>
							</div>
						</div>
						<div class="col-lg-12">
							<h3 class="text-info">VALIDATION DE VOTRE COMPTE</h3>
							<div class="callout callout-info">
								<h5>
									<i class="fas fa-info"></i>
									Note:</h5>
								<b>Veuillez Validez votre inscription en payant votre frais d'inscription.</b>
							</div>
						</div>
						<div class="col-lg-6">
							<h3 class="text-info">PLUSIEURS MOYEN DE PAIEMENT</h3>

							<div class="row">
								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/mvola.png') }}" alt="mvola"/>
										</div>
										<div class="card-footer text-warning font-italic">via MVola</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/money-check.svg') }}" alt="cheque"/>
										</div>
										<div class="card-footer text-primary font-italic">par cheque</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/money-bill.svg') }}" alt="espece"/>
										</div>
										<div class="card-footer text-danger font-italic">par espece</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/arrow-right.svg') }}" alt="Virement"/>
										</div>
										<div class="card-footer text-success font-italic">Virement</div>
									</div>
								</div>

								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/WesternUnion.png') }}" alt="Virement"/>
										</div>
										<div class="card-footer text-danger font-italic">West. Uni.</div>

									</div>
								</div>


								<div class="col-lg-3">
									<div class="card">
										<div class="card-body">
											<img width="80px" height="50px" src="{{ asset('assets/images/MoneyGram.jpg') }}" alt="Virement"/>
										</div>
										<div class="card-footer text-danger font-italic">MoneyGram</div>

									</div>
								</div>
							</div>
							<div align="center">
								<a href="{{ path('app_payment_user_registration_fee') }}" class="btn btn-success">
									Payer le frais d'inscription |
									<i class="fas fa-th"></i>
								</a>
							</div>
						</div>
						<div class="col-lg-6">
							<img class="justify-content-center img-fluid" src="{{ asset('assets/images/test.jpg') }}"/>

						</div>
						<div class="col-lg-12 mb-3">
							<div class="d-flex" style="color: red;">
								<h6>PS
								</h6>
								<h6>: Pour le paiement par Western Union veuillez nous contacter directement sur
									<span style="color: black">servicefinance@iiap.mg</span>
									ou au
									<span style="color: black">034 30 103 07</span>
								</h6>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	{# {{ include('admin/layouts/footer.html.twig') }} #}
{% endblock %}
