<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HE-GRH &#8211; Inscription</title>
		 <link rel="icon" href="{{ asset('base/logo/he grh-04.png')}}" sizes="32x32"/> 
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/bs-stepper/css/bs-stepper.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/dist/css/adminlte.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/daterangepicker/daterangepicker.css') }}">
	</head>
	<body class="hold-transition m-5 d-flex justify-content-center" style="background-color: #e9ecef">
		<div class="register-box" style="width: 80% !important;">
			<div class="card card-outline card-primary">
				<div class="card-header text-center">
					<a href="{{ path('app_home') }}" class="h1">
						<b>HE</b>
						-GRH
					</a>
				</div>
				<div class="card-body">
					{% for flash_error in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}
					{# <p class="login-box-msg">Fiche d'Inscription 
						{# <a href="{{ path('app_login') }}" class="text-center">
							J'ai déjà un compte
						</a>
						</p> #}


					<div class="col-lg-12">
						{{ form_start(registrationStudentForm, {'method': 'POST', 'attr': {'novalidate' : 'novalidate'}}) }}


						<div class="bs-stepper">
							<div class="bs-stepper-header" role="tablist">
								<div class="step" data-target="#rens-gen">
									<button type="button" class="step-trigger" role="tab" aria-controls="rens-gen" id="rens-gen-trigger">
										<span class="bs-stepper-circle">1</span>
										<span class="bs-stepper-label">Renseignement général</span>
									</button>
								</div>
								<div class="line"></div>
								{# <div class="step" data-target="#rens-gar">
									<button type="button" class="step-trigger" role="tab" aria-controls="rens-gar" id="rens-gar-trigger">
										<span class="bs-stepper-circle">2</span>
										<span class="bs-stepper-label">Renseignement des garants</span>
									</button>
								</div> #}
								<div class="line"></div>
								<div class="step" data-target="#rens-univ">
									<button type="button" class="step-trigger" role="tab" aria-controls="rens-univ" id="rens-univ-trigger">
										<span class="bs-stepper-circle">2</span>
										<span class="bs-stepper-label">Renseignement Modulaire</span>
									</button>
								</div>

								<div class="line"></div>
								<div class="step" data-target="#doc-fourn">
									<button type="button" class="step-trigger" role="tab" aria-controls="doc-fourn" id="doc-fourn-trigger">
										<span class="bs-stepper-circle">3</span>
										<span class="bs-stepper-label">Document à fournir</span>
									</button>
								</div>

							</div>

							<div class="bs-stepper-content">
								<div id="rens-gen" class="content" role="tabpanel" aria-labelledby="rens-gen-trigger">
									<div class="row d-flex justify-content-center">
										<div class="col-lg-11">
											<div class="row">
												{% set formErrors = registrationStudentForm.vars.errors.form.getErrors(true) %}
												{% if formErrors|length %}
													<div class="col-lg-12">
														<div class="alert alert-danger text-uppercase" role="alert">Il existe quelque erreurs dans votre formulaire, veuillez bien les remplir correctement SVP!</div>
													</div>
												{% endif %}

												<div class="col-lg-12 text-center mt-2 mb-3">
													<h3 class="text-navy">INFORMARTION GÉNÉRAL</h3>
												</div>
												<div class="col-lg-6">{{ form_row(registrationStudentForm.lastName) }}</div>
												<div class="col-lg-6">{{ form_row(registrationStudentForm.firstName) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.email) }}</div>
												<div class="col-lg-6">{{ form_row(registrationStudentForm.sexe) }}</div>
												<div class="col-lg-6">{{ form_row(registrationStudentForm.nativeCountry) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.phoneNumber) }}</div>
												<div class="col-lg-4">{{ form_row(registrationStudentForm.birthDate) }}</div>
												<div class="col-lg-4">{{ form_row(registrationStudentForm.birthPlace) }}</div>
												<div class="col-lg-4">{{ form_row(registrationStudentForm.address) }}</div>
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.imageFile) }}</div> #}
												<div class="col-lg-12 mb-3">{{ form_row(registrationStudentForm.type) }}</div>
												<div class="col-lg-3 offset-9">
													<button class="btn btn-primary btn-block float-right" id="next-step-1">Suivant</button>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div id="rens-gar" class="content" role="tabpanel" aria-labelledby="rens-gar-trigger">
									<div class="row d-flex justify-content-center">
										<div class="col-lg-11">
											<div id="garant-parent">
												<div class="row">
													<div class="col-lg-12 text-center mt-2 mb-3">
														<h3 class="text-navy">RENSEIGNENEMENT DES GARANTS</h3>
													</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.fmNames) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.fmJobs) }}</div>
													<div class="col-lg-6">{{ form_row(registrationStudentForm.fmEmail) }}</div>
													<div class="col-lg-6">{{ form_row(registrationStudentForm.fmPhoneNumber) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.fmAdress) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.tNames) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.tJobs) }}</div>
													<div class="col-lg-6">{{ form_row(registrationStudentForm.tEmail) }}</div>
													<div class="col-lg-6">{{ form_row(registrationStudentForm.tPhoneNumber) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.tAdress) }}</div>

												</div>
											</div>
											<div id="garant-employeur">
												<div class="row">
													<div class="col-lg-12 text-center mt-2 mb-3">
														<h3 class="text-navy">RENSEIGNENEMENT DE L'ÉTUDIANT(E) TRAVAILLEUR(EUSE)</h3>
													</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.job) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.employerName) }}</div>
													<div class="col-lg-12">{{ form_row(registrationStudentForm.gNames) }}</div>
													<div class="col-lg-6">{{ form_row(registrationStudentForm.gEmail) }}</div>
													<div class="col-lg-6">{{ form_row(registrationStudentForm.gPhoneNumber) }}</div>

												</div>
											</div>
											<div class="row mt-3">

												<div class="col-lg-3 offset-6">
													<button class="btn btn-info btn-block" id="prev-step-2">Précédent</button>
												</div>
												<button class="btn btn-primary col-lg-3" id="next-step-2">Suivant</button>


											</div>

										</div>
									</div>
								</div>


								<div id="rens-univ" class="content" role="tabpanel" aria-labelledby="rens-univ-trigger">
									<div class="row d-flex justify-content-center">
										<div class="col-lg-11">
											<div class="row">
												<div class="col-lg-12 text-center mt-2 mb-3">
													<h3 class="text-navy">INFORMARTION UNIVERSITAIRE</h3>
													<br>
													<h4 class="text-navy">Choisir votre module</h4>
												</div>
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.faculty) }}</div> #}
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType1) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType2) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType3) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType4) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType5) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType6) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType7) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType8) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType9) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType10) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType11) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType12) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType13) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.formationType14) }}</div>
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.level) }}</div> #}
												

												{# <div class="col-lg-12 mb-3">
													<div class="card card-outline card-primary">
														<div class="card-header">
															<h3 class="card-title">Engagement</h3>

															<div class="card-tools">
																<button type="button" class="btn btn-tool" data-card-widget="collapse">
																	<i class="fas fa-minus"></i>
																</button>
															</div>
														</div>
														<div class="card-body" style="display: block;">
															<div class="row">
																<div class="col-lg-12">
																	<p>
																		- Tous les diplômes, noms et autres informations fournis sont exactes.
																		<br>
																		- Accepter les conditions d’admissibilités et les règlements de l’établissement.
																		<br>
																		- Ne divulguer aucun contenu total ou partiel de ce site.
																		<br>
																		- Honorer mes frais de formations et les divers frais y afférant.
																		<br>
																		- Ne pas partager le mot de passe, autoriser d’autres personnes à accéder à mon compte, ni transférer mon compte à quiconque (sans l’autorisation de l’établissement).
																		<br>
																		- Aucun remboursement n’est possible après l’inscription ou tout autre paiement.
																		<br>

																		En cliquant sur le bouton inscription, j’atteste avoir lu et pris conscience tous les règlements de l’établissement.</p>
																</div>
																<div class="col-lg-12">{{ form_row(registrationStudentForm.agreeTerms) }}</div>

															</div>

														</div>
													</div>

												</div> #}
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.faculty) }}</div> #}
												<div class="col-lg-3 offset-6">
													<button class="btn btn-info btn-block" id="prev-step-3">Précédent</button>
												</div>
												<div class="col-lg-3">
													<button class="btn btn-primary btn-block" id="next-step-3">Suivant</button>
												</div>

											</div>
										</div>
									</div>
								</div>

								<div id="doc-fourn" class="content" role="tabpanel" aria-labelledby="doc-fourn-trigger">
									<div class="row d-flex justify-content-center">
										<div class="col-lg-11">
											<div class="row">
												<div class="col-lg-12 text-center mt-2 mb-3">
													<h3 class="text-navy">DOCUMENT À FOURNIR</h3>
												</div>
												<div class="col-lg-12">
													<div class="alert alert-warning" role="alert">
														Les dossiers à importer ne doivent pas depasser "2Mo". Vous pouvez envoyer les types de fichiers suivants : (PDF, Image)
													</div>
												</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.cinPhoto) }}</div>
												<div class="col-lg-12">{{ form_row(registrationStudentForm.curriculumVitae) }}</div>
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.noteOrCopyOfTheCertifiedDiploma) }}</div> #}
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.residenceCertificate) }}</div> #}
												{# <div class="col-lg-12">{{ form_row(registrationStudentForm.birthCertificate) }}</div> #}
												<div class="col-lg-12">{{ form_row(registrationStudentForm.motivationLetter) }}</div>
												<div class="col-lg-3 offset-6">
													<button class="btn btn-info btn-block" id="prev-step-4">Précédent</button>
												</div>
												<input type="submit" value="S'inscrire" class="btn btn-success col-lg-3 inscriptionButton"/>

											</div>
										</div>
									</div>
								</div>


							</div>


						</div>
					</div>


					{{ form_end(registrationStudentForm) }}
				</div>
			</div>
		</div>

		<script src="{{ asset('assets/BO/plugins/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/BO/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/BO/plugins/bs-stepper/js/bs-stepper.min.js') }}"></script>
		<script src="{{ asset('assets/BO/dist/js/adminlte.js') }}"></script>
		<script>
			// BS stepper init
document.addEventListener('DOMContentLoaded', function () {
window.stepper = new Stepper(document.querySelector('.bs-stepper'))
})
document.querySelector('#next-step-1').addEventListener('click', function (e) {
e.preventDefault();
var rsf_type = document.querySelector('.rsf_type');
if (rsf_type.value == "bachelor") {
$('#garant-employeur').hide();
$('#garant-parent').show();
} else if (rsf_type.value == "worker") {
$('#garant-parent').hide();
$('#garant-employeur').show();
}
stepper.next();
})

document.querySelector('#next-step-2').addEventListener('click', function (e) {
e.preventDefault();
stepper.next();
})

document.querySelector('#prev-step-2').addEventListener('click', function (e) {
e.preventDefault();
stepper.previous();
})

document.querySelector('#prev-step-3').addEventListener('click', function (e) {
e.preventDefault();
stepper.previous();
})

document.querySelector('#next-step-3').addEventListener('click', function (e) {
e.preventDefault();
stepper.next();
})

document.querySelector('#prev-step-4').addEventListener('click', function (e) {
e.preventDefault();
stepper.previous();
})


// on vérifie si le condition est checké
document.querySelector('.rsf_agreeTerms').addEventListener('change', function (e) { // $('.inscriptionButton').attr('disabled', true);

})
const imageFileClass = document.querySelector('.imageFileClass');
imageFileClass.addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[0].textContent = event.target.value.split("\\").pop();
}, false);


document.querySelector('.rsf_cinPhoto').addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[1].textContent = event.target.value.split("\\").pop();
}, false);

document.querySelector('.rsf_curriculumVitae').addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[2].textContent = event.target.value.split("\\").pop();
}, false);


document.querySelector('.rsf_noteOrCopyOfTheCertifiedDiploma').addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[3].textContent = event.target.value.split("\\").pop();
}, false);


document.querySelector('.rsf_residenceCertificate').addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[4].textContent = event.target.value.split("\\").pop();
}, false);

document.querySelector('.rsf_birthCertificate').addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[5].textContent = event.target.value.split("\\").pop();
}, false);

document.querySelector('.rsf_motivationLetter').addEventListener('change', function (event) {
document.querySelectorAll('.custom-file-label')[6].textContent = event.target.value.split("\\").pop();
}, false);
		</script>
	</body>
</html>
