<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Réinitialisez votre mot de passe | Institut International des Affaires Publiques - Vers la méritocratie</title>
		<link rel="icon" href="{{ asset('assets/images/logo.png') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/BO/dist/css/adminlte.min.css') }}">

	</head>
	<body class="hold-transition login-page">
		<div class="login-box">
			<div class="card card-outline card-primary">
				<div class="card-header text-center">
					<a href="{{ path('app_home') }}" class="h1">
						<b>AELI</b>
						AFRICA
					</a>

				</div>
				<div class="card-body">
					<p class="login-box-msg">Vous avez oublié votre mot de passe ? Ici, vous pouvez facilement récupérer un nouveau mot de passe.</p>

					{% for flash_error in app.flashes('reset_password_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}


					{{ form_start(requestForm, { 'method': 'POST' }) }}

					<div class="input-group mb-3">
						{{ form_widget(requestForm.email) }}
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-12">
							<button type="submit" class="btn btn-primary btn-block">Demander un nouveau mot de passe</button>
						</div>
					</div>
					<div>
						<small>
							Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
						</small>
					</div>
					{{ form_end(requestForm) }}
					<p class="mt-3 mb-1">
						<a href="{{path('app_login')}}">Connexion</a>
					</p>
				</div>
			</div>
		</div>
		<script src="{{ asset('assets/BO/plugins/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/BO/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/BO/dist/js/adminlte.js') }}"></script>
	</body>
</html>
