{% extends "admin/bo.html.twig" %}

{% block stylesheets %}
	<style>
		.modal-dialog {
			height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
		}
		.modal-content,
		iframe {

			height: 100%; /* = 100% of the .modal-dialog block */
		}
	</style>

{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Gestion des utilisateurs</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="{{ path('app_admin_user_add') }}?type={{ app.request.query.get('type','ROLE_STUDENT') }}">Ajouter une nouvelle
												<span class="font-italic">
													<u>{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}</u>
												</span>

											</a>

										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					{% for type,messages in app.flashes %}
						<div class="alert alert-{{type}} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i>Succès</h5>
							{% for message in messages %}
								{{ message }}
							</div>
						{% endfor %}

					</div>
				{% endfor %}


				{# SQUARE #}
				<div class="row">

					<div class="col-lg-3 col-6">
						<div class="small-box bg-info">
							<div class="inner">
								<h3>{{usersNonConfirm|length}}</h3>
								<p>{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}
									non-confirmé</p>
							</div>
							<div class="icon">
								<i class="fas {{ renderIcon(app.request.query.get('type','ROLE_STUDENT')) }}"></i>
							</div>
							<a href="{{ path('app_admin_user_non_confirm') }}?type={{ app.request.query.get('type','ROLE_STUDENT') }}" class="small-box-footer">
								Voir plus
								<i class="fas fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-6">
						<div class="small-box bg-success">
							<div class="inner">
								<h3>{{usersNonVerified|length}}</h3>
								<p>{{ convert(app.request.query.get('type','ROLE_STUDENT')) | u.truncate(20, '...') }}
									: E-mail non-vérifié</p>
							</div>
							<div class="icon">
								<i class="fas fa-envelope"></i>
							</div>
							<a href="{{ path('app_admin_user_non_verified') }}?type={{ app.request.query.get('type','ROLE_STUDENT') }}" class="small-box-footer">
								Voir plus
								<i class="fas fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>

				</div>


				{# TABLE #}
				<div class="card">
					<div class="card-header bg-primary">
						<h3 class="card-title">
							<b class="text-uppercase">Liste de touts les utilisateurs :
								<u class="">{{ convert(app.request.query.get('type','ROLE_STUDENT')) }}</u>
							</b>

						</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<table id="example1" class="table table-bordered table-striped table-sm text-center">
							<thead>
								<tr>
									<th>Avatar</th>
									<th>Nom complet</th>
									<th>Addresse</th>
									<th>Date et Lieu de Naissance</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td>
											{% if user.avatar is defined and user.avatar is not empty %}
												<img src="{{ vich_uploader_asset(user) | imagine_filter('AVATAR') }}" class="img-circle elevation-2" alt="User Image">


											{% else %}
												<img src="{{ asset('images/user-default-image.png') }}" class="img-circle elevation-2" alt="User Image">
											{% endif %}

										</td>
										<td>{{ user.fullName }}</td>
										<td>{{ user.address }}</td>
										<td>{{ user.fullBirth }}</td>
										<td>
											<div class="btn-group">
												<button title="Visualiser" class="btn btn-primary btn-sm" onclick="document.location = '#'">
													<i class="fas fa-info-circle"></i>
												</button>

												<button title='Modifier' class="btn btn-success btn-sm" onclick="document.location = '#'">
													<i class="fas fa-edit" aria-hidden="true"></i>
												</button>

												<button title='supprimer' class="btn btn-danger btn-sm" onclick="document.location = '#'">
													<i class="fas fa-trash" aria-hidden="true"></i>
												</button>

											</div>

										</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th>Avatar</th>
									<th>Nom complet</th>
									<th>Addresse</th>
									<th>Date et Lieu de Naissance</th>
									<th>Options</th>

								</tr>
							</tfoot>
						</table>
					</div>
				</div>

			</div>
		</section>


	</div>
</div>
{{ include('admin/layouts/footer.html.twig') }}{% endblock %}
