<html>
	<body>
		<div style="flex-direction:row;display:flex;margin:0;padding:0;height: 100px; background:linear-gradient(90deg,rgb(4, 94, 110) 26%,#a5010147 150%);">
			<h1 style="width:100%;color: white; opacity: 0.8; text-align:center;font-size:40px;word-wrap: break-word;">
				Aeli Africa Département finance
			</h1>
		</div>

		<h2 style="font-size: 30px; color: green; font-weight: bolder;text-align: center; font-style: italic;">Validation "
			{{ getReason(reason) }}
			" effectuée</h2>
		<p style="text-align: center; font-size: 20px;text-justify: distribute;">
			<strong>Félicitation!!!
				{{ student.fullname }}
			</strong>
			<br>
			Votre paiement par MVOLA pour la validation de votre
			{{ getReason(reason) }}
			a été effectuée avec succès [ Identification :
			{{ id }}
			].
			<br>
			L' université Aeli Africa vous remercie de votre confiance.
			<br>
		</p>
		<div style="text-align: end; font-style: italic;">
			<strong>Aeli Africa Finance</strong>
		</div>
	</body>
</html>
