{% extends "admin/bo.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="wrapper">

		{{ include('admin/layouts/nav-bar.html.twig') }}
		{{ include('admin/layouts/aside-bar.html.twig') }}

		<div class="content-wrapper">

			<section class="content">
				<div class="container-fluid">

					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0">Gestion des pages</h1>
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item">
											<a href="{{ path('app_admin_page_add') }}">Ajouter une nouvelle page</a>
										</li>
										<li class="breadcrumb-item active">Administration</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<h5>
								<i class="icon fas fa-check"></i>Succès</h5>
							{{ message }}
						</div>
					{% endfor %}

					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Modification de la page : "{{ iePage.title }}"</h3>
						</div>
						{{ form_start(form) }}
						<div class="card-body">
							{{ form_widget(form) }}
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-primary float-right">Modifier</button>
						</div>
					</div>

					{{ form_end(form) }}
				</div>
			</section>


		</div>
	</div>
	{{ include('admin/layouts/footer.html.twig') }}

	{% block javascripts %}
		<script>
			$(document).ready(function () {
$('.sous-menu-select').select2();
});
		</script>
	{% endblock %}
{% endblock %}
