<nav class="main-header navbar navbar-expand navbar-white navbar-dark bg-info" style="border-bottom: 0px !important;">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="{{ path('app_home') }}" class="nav-link">Voir la page d'accueil "iiap éducation"</a>
		</li>
	</ul>
	<ul class="navbar-nav ml-auto">
		{# {% if not disableAllMenu %} #}
			<li class="nav-item dropdown">
				<a class="nav-link" data-toggle="dropdown" href="#">
					<i class="far fa-comments"></i>
					<span class="badge badge-danger navbar-badge">50</span>
				</a>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item dropdown-footer">Voir touts les messages</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" data-toggle="dropdown" href="#">
					<i class="far fa-bell"></i>
					<span class="badge badge-warning navbar-badge">50</span>
				</a>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
					<span class="dropdown-item dropdown-header">50 Notifications</span>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">
						<i class="fas fa-envelope mr-2"></i>
						50 nouveaux messages
						<span class="float-right text-muted text-sm">3 mins</span>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">
						<i class="fas fa-comment mr-2"></i>
						50 commentaire(s)
						<span class="float-right text-muted text-sm">12 heures</span>
					</a>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">
						<i class="fas fa-file mr-2"></i>50 article(s)
						<span class="float-right text-muted text-sm">2 jours</span>
					</a>
				</div>
			</li>
		{# {% endif %} #}
		<li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
				<i class="fas fa-expand-arrows-alt"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_logout') }}" role="button">
				<i class="fas fa-power-off"></i>
			</a>
		</li>
	</ul>
</nav>
